<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <link rel="shortcut icon" href="./image/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/todo.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Todo</title>
</head>
<body>
    {{>header}}

    <div class="search_todo">
        <h2>Search Your Todo.</h2>
    </div>

    <form action="/todoSearch" class="form-search" method="post">
    <input type="text"name="query" id="search"  class="sameForBoth" placeholder="search Todo By Title..">
    <input type="submit"value="search" id="searchBtn" class="sameForBoth">
    </form>
    <hr>
    <h1 style="text-align: center;">Your Todo<pre>{{match}}</pre></h1>
    {{!-- all item are list here --}}
        <div class="allCard">
            {{!-- add some --}}
            {{#each data}}
              <div class="card">
    <div class="title">
        <h3><b>title:</b></h3>
        <p>{{this.title}}</p>
    </div>
    <div class="desc">
        <h3><b>desc:</b></h3>
        <p>{{this.desc}}.</p>
    </div>
    <div class="date">
        {{this.date}}
    </div>
    <div class="btn">
        <form action="/delete" method="post">
        <button class="Delete" name="delete" value="{{this.id}}" onclick="this.form.submit"><img class="event" src="./image/delete.png"></button>
        </form>
     {{!-- <form action="/edit" method="post">
            <button class="Edit"  name="edit" value="{{this.id}}"  onclick="this.form.submit"><a href="/"><img class="event" src="./image/edit.png"></a></button>
     </form> --}}
    </div>
    </div>
    {{/each}}
            {{!-- end --}}
        </div>


        <!-- add to card -->
            <div class="addToCard">
        <a href="/add" >
            <img class="addIcon" src="./image/google-plus.png" alt="add" title="Add">
        </a>
        </div>
</body>
</html>